.App {
  text-align: center;
}

.contentFilter {
  .dropZoneContainer{
    margin: 20px;
    border-color: #eaeaea;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
  }

  .dropzone {
    margin: 20px auto auto;
    height: 100px;
    width: 50%;
    padding: 20px;
    border-width: 2px;
    border-radius: 8px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #8C8C8C;
  }

  .radioBtnContainer {
    margin: 20px;
  }

  .logoPreviewContainer {

    .activeLogoPreview {
      color: #07333A;
    }

    .thumbsContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 16px;

      .thumb {
        display: inline-flex;
        border-radius: 2px;
        border: 1px solid #eaeaea;
        margin-bottom: 8px;
        margin-right: 8px;
        width: 100px;
        height: 100px;
        padding: 4px;
        box-sizing: border-box;

        .thumbInner {
          display: flex;
          min-width: 0px;
          overflow: hidden;

          .img {
            display: block;
            width: auto;
            height: 100px;
          }
        }
      }
    }
  }
}
